.btn {
	cursor: pointer;
}

.btn.default {
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: var(--color-dark);
	border: 1px solid var(--color-dark);
	/* padding: 0.8rem 1.5rem; */
	padding: 0.8rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	transition: all 0.5s;
	width: 100%;
}

.btn.default:hover {
	background-color: var(--color-dark);
	color: var(--color-white);
	/* border: 1px solid var(--color-dark); */
}

.btn.default-dark {
	background-color: var(--color-darkgrey);
	color: var(--color-white);
	/* padding: 0.8rem 1.5rem; */
	padding: 0.8rem;
	cursor: pointer;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	width: 100%;
	border: none;
}

/* .default-dark:hover {
	border: 1px solid var(--color-dark);
} */

.btn.large-dark {
	background-color: var(--color-darkgrey);
	color: var(--color-white);
	width: 100%;
	padding: 0.8rem;
	border: 1px solid var(--color-dark);
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	margin-bottom: 0.5rem;
}

.btn.large-dark:hover {
	background-color: var(--color-white);
	color: var(--color-black);
	font-weight: 500;
}

.btn.large-dark-no-hover {
	background-color: var(--color-darkgrey);
	color: var(--color-white);
	width: 100%;
	padding: 0.8rem;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	margin-bottom: 0.5rem;
}

.btn.large-green {
	background-color: #00b140;
	color: var(--color-white);
	width: 100%;
	/* padding: 0.8rem 5.4rem; */
	padding: 0.8rem;
	border: none;
	margin-bottom: 0.5rem;
}

.btn.large-light {
	background-color: var(--color-white);
	color: var(--color-text-black);
	width: 100%;
	padding: 0.8rem;
	border: 1px solid var(--color-dark);
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.arrowIcon {
	margin-left: 1rem;
	width: 7px;
	height: 7px;
}

.btn.btn-hero {
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 0.8rem 2rem;
	padding: 0.8rem;
	border: 1px solid var(--color-white);
	z-index: 10;
}

/* @media (min-width: 768px) {
	.btn.large-dark,
	.btn.large-dark-no-hover,
	.btn.large-green,
	.btn.large-light {
		max-width: 60%;
	}
} */
