.footer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
	width: 90vw;
}

.socialMediaBlockLink:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	color: var(--color-dark);
}

.addressBlock {
	grid-column: 1;
	grid-row: 1;
	padding-bottom: 1rem;
}

.customerSupportBlock {
	grid-column: 1;
	grid-row: 2;
	padding-bottom: 1rem;
}

.socialMediaBlock {
	grid-column: 1;
	grid-row: 3;
	padding-bottom: 1rem;
}

.linkBlock {
	grid-column: 2;
	grid-row: 1;
}

.customerInfoBlock {
	grid-column: 2;
	grid-row: 2;
}

.deliveryInfoBlock {
	grid-column: 2;
	grid-row: 3;
}

.copyrightInfo {
	grid-column: 1;
	grid-row: 4;
}

@media (min-width: 768px) {
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(6, auto);
	}

	.addressBlock {
		grid-column: 1;
		grid-row: 1;
	}

	.customerSupportBlock {
		grid-column: 2;
		grid-row: 1;
	}

	.socialMediaBlock {
		grid-column: 3;
		grid-row: 1;
	}

	.pageLinksBlock {
		grid-column: 4;
		grid-row: 1;
	}

	.customerInfoBlock {
		grid-column: 5;
		grid-row: 1;
	}

	.deliveryInfoBlock {
		grid-column: 6;
		grid-row: 1;
	}

	.copyrightInfo {
		grid-column: 1;
		grid-row: 2;
	}
}

@media (min-width: 1800px) {
	.gridContainer {
		width: 58vw;
		margin: 0 auto;
	}
}
