.heroContainer {
	position: relative;
	overflow-y: hidden;
	height: 100vh;
}

.heroImage {
	object-fit: cover;
	object-position: center;
	position: relative;
	width: 100vw;
	height: auto;
	min-height: 100%;
	z-index: -1;
}

.heroContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 768px) {
	.heroImage {
		min-height: 100%;
		object-fit: cover;
	}
}
