.heroContainer {
	position: relative;
	overflow-y: hidden;
	height: 100vh;
	position: relative;
}

.heroImage {
	object-fit: cover;
	object-position: center;
	/* position: relative; */
	width: 100vw;
	height: auto;
	min-height: 100%;
	z-index: -1;
	filter: blur(1px) brightness(95%) contrast(1.2);
}

.heroContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	position: absolute;
	left: 20%;
	bottom: 0.8rem;
	width: 60%;
	margin: 0 auto;
}

.sunLogo {
	position: absolute;
	top: 22%;
	right: 10%;
	/* transform: translate(-25%, -25%); */
	z-index: 40;
	width: 90%;
	height: auto;
	overflow: hidden;
}

@media (max-width: 767px) {
	.heroImage {
		min-height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 768px) {
	.sunLogo {
		position: absolute;
		top: 10%;
		left: 30%;
		width: 800px;
		height: auto;
		z-index: 40;
	}
}
