.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h2 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	width: 90vw;
}

.productImgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.productImg {
	width: 100%;
	height: auto;
	cursor: pointer;
}

/* Thumbnails */
.thumbnails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.3rem;
	cursor: pointer;
	margin-block: 0.5rem;
	width: 100%;
}

.thumbnailImg {
	/* flex: 1; */
	width: 100%;
	height: auto;
}

.thumbnailCard {
	position: relative;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	transition: opacity 0.3s ease;
	position: absolute;
	top: 0;
	left: 0;
}

.thumbnailCard:hover .overlay {
	opacity: 0;
}

.selectedThumbnail .overlay {
	opacity: 0;
}

.greenBox {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	padding: 1rem;
	background-color: #50b050;
	width: 90vw;
}

.btnContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.btnSmallScreen {
	width: 100%;
}

.btnLargeScreen {
	display: none;
}

/*Length options*/
.largeLight {
	display: flex;
	justify-content: space-around;
	background-color: var(--color-white);
	width: 100%;
	font-weight: 500;
	margin-bottom: 0.5rem;
	border: 1px solid black;
}

.btnLengthOptions {
	border: none;
	border-right: 1px solid black;
	flex: 1;
	background-color: var(--color-white);
	padding-block: 0.8rem;
}

.btnLengthOptions:hover {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.btnLengthOptions:last-child {
	border: none;
}

.selectedLength {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.infoSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	width: 90vw;
}

.infoContainer {
	/* display: flex;
	flex-direction: column; */
	width: 100%;
}

.productInfoBlock {
	justify-content: flex-start;
}

.techInfoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
}

.chart {
	width: 100%;
	height: auto;
	margin-block: 1rem;
}

.ul {
	margin: 0;
	padding: 0;
}

.li:before {
	content: '> ';
}

.price {
	color: var(--color-TUR-green);
}

@media (min-width: 750px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.greenBox {
		flex-direction: row;
		justify-content: space-between;
	}

	.btnLargeScreen {
		display: block;
	}

	.btnSmallScreen {
		display: none;
	}

	.productImgs {
		display: flex;
		flex-direction: column;
	}

	.container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 1rem;
		/* width: 100%; */
	}

	.thumbnailImg {
		width: 100%;
		height: auto;
	}

	.thumbnails {
		width: 100%;
	}

	.infoContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40vw;
	}

	.infoSection {
		flex: 1;
		width: 100%;
	}

	.techInfoContainer {
		display: flex;
		flex-direction: column;
		width: 100vw;
	}

	.chartsContainer {
		display: flex;
		gap: 2rem;
		flex-direction: row;
		justify-content: space-between;
		width: 90vw;
	}

	.chart {
		width: 45vw;
	}

	.btnContainer {
		width: 100%;
	}

	.techInfoContainer {
		display: flex;
		flex-direction: column;
		width: 90vw;
	}

	.chart {
		width: 40vw;
	}
}

@media (min-width: 1500px) {
	.main {
		margin: 0 auto;
	}

	.container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 1rem;
		/* width: 90vw; */
	}

	.productImgs {
		display: flex;
		flex-direction: column;
		/* width: 45vw; */
	}

	.thumbnailImg {
		width: 5rem;
		height: 5rem;
	}

	.infoContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* width: 45vw; */
	}

	/* .techInfoContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
	} */

	.chartsContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
}

/* @media (min-width: 1800px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
	}

	.productImg {
		max-width: 45vw;
		height: auto;
	}

	.techInfoContainer {
		display: flex;
		flex-direction: column;
		width: 60vw;
	}

	.chart {
		width: 30vw;
	}
} */
