.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}

.productCardSectionHeading {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.productCardSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Small screens */
/* @media (max-width: 767px) {
	.productCardSection .productCardSectionHeading {
		width: 90vw;
	}
} */

/* Extra large screens */
@media (min-width: 1800px) {
	.productCardSection .productCardSectionHeading {
		width: 58vw;
	}
}
