.nav {
	font-family: var(--font-primary);
	background-color: var(--color-white);
	color: var(--color-dark);
	padding: 1.5rem 1rem;
}

.ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.navbarRight {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.active,
.li.link:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	color: var(--color-darkgrey);
}

.li {
	cursor: pointer;
}

li.link {
	display: none;
}

.hamburgerMenu {
	cursor: pointer;
}

.cartItemCount {
	color: var(--color-TUR-green);
}

.cartIconContainer {
	display: flex;
	align-items: center;
}

@media (min-width: 768px) {
	li.link {
		display: block;
	}

	.hamburgerMenu {
		display: none;
	}
}

@media (min-width: 1800px) {
	.nav {
		grid-template-columns: 1fr minmax(auto, 60vw) 1fr;
	}
}
