.navContainer {
	font-family: var(--font-primary);
	color: var(--color-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	padding: 0.8rem 2rem;
}

.cartItemCount {
	color: var(--color-TUR-green);
}

.navLink:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
	color: var(--color-active-link);
}

.cartContainer {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

@media (max-width: 767px) {
	.navLinks {
		display: none;
	}
	/* 
	.hamburgerMenu {
		display: block;
	} */
}

@media (min-width: 768px) {
	.navItems {
		display: flex;
		align-items: center;
		gap: 1rem;
		max-height: 5rem;
	}

	.navLinks {
		display: flex;
	}

	.heroSection,
	.navContainer {
		overflow: hidden;
	}

	.hamburgerMenu {
		display: none;
	}
}
