.navContainer {
	font-family: var(--font-primary);
	color: var(--color-text-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.375rem;
	padding: 0.8rem 2rem;
}

.navItems {
	display: flex;
	align-items: center;
	gap: 1rem;
	max-height: 5rem;
}

.cartItems {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.cartItems .cartItemCount {
	color: var(--color-primary);
}

/* .navLinks {
	margin-right: 0.625rem;
} */

.navLink {
	margin-right: 2rem;
	text-decoration: none;
}

.navLink:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
	color: var(--color-active-link);
}

@media (min-width: 768px) {
	.hamburgerMenu {
		display: none;
	}
}

@media (max-width: 767px) {
	.navLinks {
		display: none;
	}
}
