.supportContainer {
	line-height: 1.2;
	padding-left: 2rem;
}

@media (max-width: 767px) {
	.tcs {
		margin-block: 3rem;
	}

	.number {
		margin-bottom: 1.5rem;
	}

	.heading {
		margin-bottom: 1.2rem;
	}

	.text {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 768px) {
	.supportContainer {
		height: 100%;
		width: 80vw;
		display: grid;
		grid-template-columns: repeat(3, auto) 2fr;
		column-gap: 6rem;
		padding-top: 10rem;
	}

	.tcs {
		grid-column: 1;
		grid-row: 1;
	}

	.number {
		padding: 0;
		grid-column: 2;
		grid-row: 1;
	}

	.heading {
		padding: 0;
		grid-column: 3;
		grid-row: 1;
	}

	.text {
		grid-column: 4;
		grid-row: 1;
	}
}

@media (min-width: 1800px) {
	.supportContainer {
		width: 58vw;
		margin: 0 auto;
	}
}
