.supportContainer {
	width: 90vw;
	margin: 0 auto;
}

.header {
	margin-block: 3rem;
}

.sectionLabel {
	margin-bottom: 1.5rem;
}

.sectionHeading {
	margin-bottom: 1.2rem;
}

.address {
	margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.supportContainer {
		display: grid;
		/*3 första kolumnerna baserat på innehåll, sedan en fjärde som är 2fr*/
		grid-template-columns: repeat(3, auto) 2fr;
		padding-top: 10rem;
		column-gap: 2.5rem;
	}

	.header {
		margin: 0;
		grid-column: 1;
		grid-row: 1;
	}

	.sectionLabel {
		grid-column: 2;
		grid-row: 1;
	}

	.sectionHeading {
		grid-column: 3;
		grid-row: 1;
	}

	.address {
		grid-column: 4;
		grid-row: 1;
	}
}

@media (min-width: 1800px) {
	.supportContainer {
		width: 58vw;
	}
}
