.heroContainer {
	position: relative;
	margin-bottom: 2rem;
}

.heroImage {
	object-fit: cover;
	object-position: top;
	width: 100%;
	max-height: 100vh;
}

.heroOverlay {
	color: var(--color-white);
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: 80%;
}

.header,
.brandDetails {
	width: 90%;
	margin: 0 auto;
}

.header {
	margin-bottom: 2.5rem;
}

.articleLabel {
	margin-bottom: 1.5rem;
}

.articleHeading {
	margin-bottom: 1.2rem;
}

.articleDescription {
	margin-bottom: 4.5rem;
}

@media (min-width: 768px) {
	.heroOverlay {
		top: 2rem;
		left: 2rem;
		width: 30%;
	}

	.containerGrid {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(1, auto), 3fr;
		grid-template-rows: repeat(6, auto);
		margin: 0 auto;
	}

	.header {
		grid-column: 1;
		grid-row: 1;
	}

	.brandDetails {
		grid-column: 2;
		grid-row: 1;
	}

	.article {
		display: flex;
		justify-content: space-between;
	}

	.articleDescription {
		max-width: 50%;
	}
}

@media (min-width: 1024px) {
	.heroContainer {
		width: 90vw;
		margin: 0 auto;
		margin-bottom: 3rem;
	}
}

@media (min-width: 1800px) {
	.brandDetails {
		width: 60vw;
	}
}
