.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.2;
	padding-block: 2rem;
	width: 100vw;
}

.formHeading {
	margin-bottom: 2rem;
}

.formHeading:first-child {
	margin-top: 2rem;
}

.h2form {
	margin-top: 1.5rem;
}

.couponFields {
	width: 90%;
}

.billingFields {
	width: 90%;
}

.paymentFields {
	width: 90%;
}

.couponFieldContent {
	border: 1px solid var(--color-dark);
	padding: 1rem;
}

.couponToggleField {
	margin-top: 1rem;
	border: 1px solid var(--color-dark);
	padding: 1rem;
}

.couponCodeLink:hover {
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	cursor: pointer;
}

.couponCodeField,
.notesField,
.creditCardField,
.addressField {
	padding-block: 1rem;
	width: 100%;
	outline: none;
	padding-left: 1rem;
	font-size: inherit;
}

.streetAddressField {
	margin-bottom: 1.5rem;
}

.couponCodeField,
.notesField,
.creditCardField,
.addressField::placeholder {
	font-family: var(--font-primary);
	padding-left: 1rem;
}

.couponBtn {
	background-color: var(--color-dark);
	color: var(--color-white);
	display: flex;
	justify-content: center;
	padding: 0.7rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
	transition: all 0.5s;
	width: 100%;
}

.couponBtn:hover {
	color: var(--color-dark);
	border: 1px solid var(--color-dark);
	background-color: var(--color-white);
}

.checkbox {
	display: flex;
	align-items: center;
	margin-block: 2rem;
}

.checkbox input {
	appearance: none; /* Remove default styles */
	width: 1.2rem;
	height: 1.2rem;
	border: 1px solid var(--color-dark);
	border-radius: 50%;
	margin-right: 1rem;
	cursor: pointer;
}

/* Selected checkbox */
.checkbox input:checked::before {
	content: '\2714'; /* Unicode checkmark character */
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark);
	border-radius: 50%;
}

.checkbox input:focus {
	outline: none;
}

.orderHeadings {
	display: flex;
	justify-content: space-between;
	padding-block: 0.5rem;
	border-bottom: 1px solid black;
}

.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1rem;
}

.quantity {
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
}

.subtotal {
	padding-block: 1rem;
}

.price {
	color: var(--color-TUR-green);
}

.subtotal {
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
}

.shippingContainer {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--color-dark);
	padding-block: 1rem;
}

.shipping {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.calculateShipping {
	margin-right: 0.4rem;
}

.calculateShipping:hover {
	text-decoration: underline;
	text-underline-offset: 0.15em;
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
	border-top: 1px solid var(--color-dark);
	margin-bottom: 2rem;
}

.submitOrderBtn {
	background-color: var(--color-darkgrey);
	color: var(--color-white);
	width: 100%;
	padding: 0.8rem;
	border: 1px solid var(--color-dark);
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	margin-bottom: 4rem;
}

.submitOrderBtn:hover {
	background-color: var(--color-white);
	color: var(--color-black);
	font-weight: 500;
	cursor: pointer;
}

.errorMessage {
	color: red;
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.mobileOnly {
		display: none;
	}

	.btnContainer {
		display: flex;
		gap: 1rem;
	}

	.couponCodeField {
		margin-bottom: 0;
	}
}

@media (min-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 20%, auto;
		width: 90%;
		margin: 0 auto;
	}

	.couponFields {
		grid-column: 1/3;
		grid-row: 1;
		width: 100%;
	}

	.billingFields {
		grid-column: 1;
		grid-row: 2;
	}

	.paymentFields {
		grid-column: 2;
		grid-row: 2;
		height: 100%;
	}
}

@media (min-width: 1800px) {
	.container {
		width: 58vw;
		margin: 0 auto;
	}
}
