/* Dropdown */
.dropdownContainer {
	position: relative;
	display: inline-block;
	/* margin-bottom: 1.5rem; */
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-white);
	padding: 0.4rem 0.5rem;
	font-size: 0.8125rem;
	cursor: pointer;
	outline: none;
	border: 1px solid var(--color-dark);
	width: 100%;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 70;
	width: 100%; /*eftersom border tar 1px på vardera sida. Alternativt box-sizing: border-box + 100%*/
	background-color: var(--color-white);
}

.menuItem {
	border: 1px solid var(--color-dark);
	border-top: none;
	padding: 0.4rem 0.5rem;
	color: #333;
	cursor: pointer;
	font-size: 0.8125rem;
	background-color: var(--color-white);
	transition: background-color 0.3s ease;
}

/* .menuItem:hover,
.menuItem:focus {
	background-color: #f0f0f0;
} */
/* 
.activeItem {
	background-color: #d9dadb;
} */
