.productGrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
	.productGrid {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.4rem;
	}
}
