.productGrid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.4rem;
}

@media (max-width: 767px) {
	.productGrid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}
